:root{
    --bg-color: #151515;
    --bg-color2: #0b0b0b;
    --white:#fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
}

html, body{
    height: 100%;
    width: 100%;
    
}


#main{
    position: relative;
    background-color: #000;
}

/* ---------------Loader------------------- */
#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: var(--bg-color2); 
    padding: 15vh 5vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
}

.line h1{
    color: var(--white);
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 1px;
}

.line1-part1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5vw;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
}

.line1-part1 h5, h6{
    color: var(--white);
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.1;
    margin-right: 10px;
    font-family: "silk serif" ;
}

.line1-part1 h6{
    width: 5vw;
    text-align: right;
}


.line h2{
    color: var(--white);
    font-size:5vw;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animeh2{
    0%{
        opacity: 1;
        font-family: "Plain light";
        color: var(--white);
        -webkit-text-stroke: 1px var(--white);
        font-weight: 500;
    }
    48%{
        opacity: 0; 
        font-family: "Plain light";
        color: var(--white);
        -webkit-text-stroke: 1px var(--white);
        font-weight: 500;  
    }

    50%{
        opacity: 1;
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px var(--white);
        font-weight: 500;   
    }
    100%{
        opacity: 0;
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px var(--white);
        font-weight: 500;
    }
}


#page1{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

