:root{
    --bg-color: #151515;
    --bg-color2: #0b0b0b;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
}

/* ---------------Loader------------------- */
#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: var(--bg-color2);
    
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

